* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
  background-image: radial-gradient(#d1d1d1 1px, transparent 1px);
  background-size: 20px 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 400px;
  padding: 25px;
}
.paper-card {
  background: white;
  padding: 40px 30px;
  position: relative;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.08);
  border-left: 8px solid #2a75ff;
}
.tape {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  width: 100px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
#screen {
  font-family: "Architects Daughter", cursive;
  width: 100%;
  height: 55px;
  border: 2px solid #000000;
  background: #fdfdfd;
  border-radius: 8px;
  color: #000000;
  text-align: right;
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.bttn {
  background: transparent;
  border: 2px solid #333;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);
}
/* .bttn:hover {
  border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
  transform: scale(1.02) rotate(-1deg);
} */
.bttn:active {
  transform: scale(0.98);
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.scientific {
  background-color: rgb(50, 50, 50);
}
.operations {
  background: #6f6f6f;
}
.clear {
  background: #ff3b30;
}
.equal {
  background: #6f6f6f;
  grid-column: span 1;
}
